%p#notice= notice

%p
  %b Name:
  = @group.name
%p
  %b Desc:
  = @group.desc
%p
  %b Cheatsheet:
  = @group.cheatsheet_id

= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path
