!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Template · Bootstrap
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "halida", :name => "author"}
    %link{href: "/favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    = stylesheet_link_tag "application.css", debug: false
    = yield(:head)
    = csrf_meta_tag

  %body.frontpage
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} KSCC
          .nav-collapse.collapse
            %ul.nav
              %li.active
                %a{:href => "#"} Home
              %li
                %a{:href => "#"} Start
              %li
                %a{:href => "#about"} About
              %li
                %a{:href => "#contact"} Contact
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Dropdown
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Action
                  %li
                    %a{:href => "#"} Another action
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li.nav-header Nav header
                  %li
                    %a{:href => "#"} Separated link
                  %li
                    %a{:href => "#"} One more separated link
            %form.navbar-form.pull-right
              %input.span2{:placeholder => "Email", :type => "text"}
                %input.span2{:placeholder => "Password", :type => "password"}
                  %button.btn{:type => "submit"} Sign in
          / /.nav-collapse
    .container
      = content_for?(:body) ? yield(:body) : yield

    = javascript_include_tag "application.js", debug: false
    = yield :scripts
    = yield :end
